[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-asyncio = "*"
mypy = "*"
hypothesis = "*"
pytest-cov = "*"
mkdocs-material = "*"
aiohttp = "*"
flask = "*"
aiobotocore = "*"

[dev-packages]
tox = "*"
pytest = "*"
flake8 = "*"
mkdocs = "*"
mkautodoc = "*"
isort = "*"
autoflake = "*"
seed-isort-config = "*"
black = "==19.10b0"
atomicwrites = "*"
twine = "*"
wheel = "*"
bleach = ">=3.1.1"
moto = "*"

[requires]
python_version = "3.7"
