[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-asyncio = "*"
mypy = "*"
hypothesis = "*"
pytest-cov = "*"

[dev-packages]
tox = "*"
pytest = "*"
"flake8" = "*"
mkdocs = "*"
mkautodoc = "*"

[requires]
python_version = "3.7"
